---
---

body {
	display: flex;
	justify-content: center;
	
	.main {
		background-color: cadetblue;
		justify-content: center;
		padding: 20px;
		width: 60%;

		font-family: Helvetica, sans-serif;
		font-size: 14pt;
	}

	.highlight {
		padding: 2px 10px;
		background-color: black;
		color: white;
	}

	a {
		color: black;
	}
		

	img {
		width: 80%;
		height: auto;
	}
}

