---
---

$bp-smallphone: 320px;
$bp-phone: 480px;
$bp-tablet: 768px;
$bp-smallputer: 992px;
$bp-largeputer: 1200px;

/* IMPORT SELF-HOSTED FONTS */
@import url("/fonts/Exile/font-settings.css");
@import url("/fonts/IndieFlower/font-settings.css");

body {
	/* UNIVERSAL LAYOUT SETTINGS */
	display: flex;
	justify-content: center;
	padding: 0px;
	margin: 0px;
	min-height: 100vh;
	overflow: scroll;
	
	/* UNIVERSAL TYPEFACE SETTINGS */
	font-family: "Lucida Sans Typewriter", 
		     "Lucida Console", 
		     "monaco", 
		     "Bitstream Vera Sans Mono", 
		     "monospace"; 
	font-size: 12pt;
	line-height: 1.5;
	
	/* UNIVERSAL NAV SETTINGS */
	nav {
		background-color: black;
		position: fixed;
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 5px;
		height: 50px;
		z-index: 99;

		a {
			border: 2px solid;
			border-color: white;
			padding: 2px 5px;
			color: white;
			text-decoration: none;
			font-size: 11pt;
		}
	}
	
	/* UNIVERSAL ANCHOR SETTINGS */	
	a {
		color: black;
		text-decoration: none;
	}
		
	/* UNIVERSAL IMAGE SETTINGS */
	img {
		width: 100%;
		height: auto;
		z-index: -99;
	}

	/* UNIVERSAL MAIN SETTINGS */	
	.main {
		/* LAYOUT */
		justify-content: center;
		overflow: scroll;
		border: 5px ridge;
		border-color: black;
		margin-top: 50px;
	}

	/* UNIVERSAL CODE BLOCK SETTINGS */
	.highlight {
		padding: 2px 10px;
		background-color: black;
		color: white;
		text-wrap: wrap;
		overflow: scroll;
	}

	/* UNIVERSAL MATHJAX SETTINGS */
	.MathJax {
		overflow-x: auto;
		white-space: nowrap;
		width: 100%;
		overflow: scroll;
	}

	/* UNIVERSAL FLEX SETTINGS */
	.flex {
		.row {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;
		}

		.column {
			display: flex;
			flex-direction: column;
			flex-basis: 100%;
			flex: 1;
			justify-content: center;
			padding: 0px 10px;
		}
		
		/* LOCAL INDEX PAGE SETTINGS */
		.index {
			font-family: "Indie Flower", sans-serif;
			font-size: 25pt;
			line-height: 0.1pt;
			column-gap: 0px;
		}

		.archive {
			border: 2px solid;
			border-radius: 10px;
			margin: 5px;
			align-items: center;
			justify-content: center;
		}
	}


	/* LOCAL POST SETTINGS */
	.post {
		font-family: "Times New Roman", serif;
		font-size: 14pt;
	}
	
	/* BREAKPOINTS */
	@media (min-width: $bp-smallphone) {
		.main {
			padding: 20px;
			width: 90%;
		}
		
		.index {
			font-size: 18pt;
			.tagline {
				font-size: 14pt;
			}
		}
		
		.archive-flex .row {
			flex-direction: column;
		}
	}

	@media (min-width: $bp-phone) {
		.main {	
			padding: 20px;
			width: 70%;
		}

		.index {
			font-size: 18pt;
			.tagline {
				font-size: 14pt;
			}
		}
		.archive-flex .row {
			flex-direction: column;
		}
	}

	@media (min-width: $bp-tablet) {
		.main {
			padding: 20px;
			width: 70%;
		}

		.index {
			font-size: 25pt;
			.tagline {
				font-size: 25pt;
			}
		}
		.archive-flex .row {
			flex-direction: row;
		}
	}

	@media (min-width: $bp-smallputer) {
		.main {
			padding: 20px;
			width: 50%;
		}
	}

	@media (min-width: $bp-largeputer) {
		.main {
			padding: 20px;
			width: 40%;
		}
	}
}

/* MODIFY DARKMODE TO INCLUDE MATHJAX */
.darkmode--activated {
	.MathJax {
		color: white;
	}
	
	.highlight {
		background-color: black;
		color: white;
	}	
}

