---
---

$bp-smallphone: 320px;
$bp-phone: 480px;
$bp-tablet: 768px;
$bp-smallputer: 992px;
$bp-largeputer: 1200px;

body {
	/* UNIVERSAL LAYOUT SETTINGS */
	display: flex;
	//flex-direction: column;
	justify-content: center;
	//align-items: center;
	padding: 0px;
	margin: 0px;
	min-height: 100vh;
	
	/* UNIVERSAL TYPEFACE SETTINGS */
	font-family: "Lucida Sans Typewriter", 
		     "Lucida Console", 
		     "monaco", 
		     "Bitstream Vera Sans Mono", 
		     "monospace"; 
	font-size: 14pt;
	line-height: 1.8;
	
	/* UNIVERSAL NAV SETTINGS */
	nav {
		background-color: black;
		position: fixed;
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 5px;
		height: 50px;

		a {
			border: 2px solid;
			border-color: white;
			padding: 2px 5px;
			color: white;
			text-decoration: none;
			font-size: 11pt;
		}
	}
	
	/* UNIVERSAL ANCHOR SETTINGS */	
	a {
		color: black;
	}
		
	/* UNIVERSAL IMAGE SETTINGS */
	img {
		width: 80%;
		height: auto;
	}

	/* UNIVERSAL MAIN SETTINGS */	
	.main {
		/* COLORS */
		/* background-color: #95b8d1; */

		/* LAYOUT */
		justify-content: center;
		overflow: scroll;
		border: 5px ridge;
		border-color: black;
		
		/* BREAKPOINTS */
		@media (min-width: $bp-smallphone) {
			padding: 20px;
			width: 90%;
		}

		@media (min-width: $bp-phone) {
			
			padding: 20px;
			width: 90%;
		}

		@media (min-width: $bp-tablet) {
			padding: 20px;
			width: 60%;
		}

		@media (min-width: $bp-smallputer) {
			padding: 20px;
			width: 50%;
		}

		@media (min-width: $bp-largeputer) {
			padding: 20px;
			width: 50%;
		}
	}

	/* UNIVERSAL CODE BLOCK SETTINGS */
	.highlight {
		padding: 2px 10px;
		background-color: black;
		color: white;
		text-wrap: wrap;
		overflow: scroll;
	}

	/* UNIVERSAL MATHJAX SETTINGS */
	.MathJax {
		overflow-x: auto;
		white-space: nowrap;
		width: 100%;
		overflow: scroll;
	}

	/* LOCAL INDEX PAGE SETTINGS */
	.index {
		width: auto;
		line-height: 1;
		a {
			text-decoration: none;
		}
	}
	
}


