---
layout: default
title: Archive
---
<h1>Archive</h1>
<hr>
<h2>What's Here</h2>
<p>
Since I first started programming and building a foundation in Computer Science, I've been keeping a logbook of all the projects built, courses taken, books read, and daily tasks completed. This <i>programming log</i>, as I called it, has since grown into this website, and I plan to continue the spirit of it with blog posts (I may still add to the log itself as well). This archive is all about presenting the logbook in its original form, as with the <i>unparsed</i> section at the bottom of the page, and in a more accessible form, <i>parsed</i>. 
</p>
<hr>
<h2>Parsed</h2>
<div class="archive-flex flex">
	<div class="row">
		<h3>Courses</h3>
	</div>
	<div class="row">
		<div class="archive column">
			{% assign cs50x = site.old_log | where: "subject", "CS50x" %}
			<h4 style="margin: 0px">CS50x</h4>
			{% for entry in cs50x %}
				<div>
					<a href="{{ entry.url }}">{{ entry.title }}</a>
				</div>
			{% endfor %}
		</div>
		<div class="archive column">
			{% assign sololearn = site.old_log | where: "subject", "Sololearn" %}
			<h4 style="margin: 0px">Sololearn</h4>
			{% for entry in sololearn %}
				<div>
					<a href="{{ entry.url }}">{{ entry.title }}</a>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="row">
		<h3>Projects</h3>
	</div>
	<div class="row">
		<div class="archive column">
			{% assign studentlog = site.old_log | where: "subject", "Student Log" %}
			<h4 style="margin: 0px">Student Log</h4>
			{% for entry in studentlog %}
				<div>
					<a href="{{ entry.url }}">{{ entry.title }}</a>
				</div>
			{% endfor %}
		</div>
	</div>	
	<div class="row">
		<h2>Unparsed</h2>
	</div>
	<div class="archive-row row">
		{% assign unparsed = site.old_log | where: "domain", "Unparsed" | reverse %}
		{% for entry in unparsed %}
			<div class="archive column"><h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3></div>
		{% endfor %}
	</div>
</div>
