---
layout: default
title: Archive
---
<h1>Archive</h1>
<hr>
<h2>What's Here</h2>
<p>
Since I first started programming and building a foundation in Computer Science, I've been keeping a logbook of all the projects built, courses taken, books read, and daily tasks completed. This <i>programming log</i>, as I called it, has since grown into this website, and I plan to continue the spirit of it with blog posts (I may still add to the log itself as well). This archive is all about presenting the logbook in its original form, as with the <i>unparsed</i> section at the bottom of the page, and in a more accessible form, <i>parsed</i>. 
</p>
<hr>
<h2>Parsed</h2>
<div class="archive-flex flex">
	<div class="row">
		<h3>Courses</h3>
	</div>
	<div class="row">
		<!-- Entry with multiple documents -->
		<a class="archive column" href="/cs50x.html">
			<h4 style="margin: 0px">CS50x</h4>
		</a>

		<!-- Entry with a single document -->
		{% assign items = site.old_log | where: "subject", "Sololearn" %}
		{% for item in items %}
		<a class="archive column" href="{{ item.url }}">
			<h4 style="margin: 0px">{{ item.subject }}</h4>
		</a>
		{% endfor %}
		
		<!-- Entry with a single document -->
		{% assign items = site.old_log | where: "subject", "Bare Metal C" %}
		{% for item in items %}
		<a class="archive column" href="{{ item.url }}">
			<h4 style="margin: 0px">{{ item.subject }}</h4>
		</a>
		{% endfor %}
	</div>
	<div class="row">
		<h3>Projects</h3>
	</div>
	<div class="row">
		<!-- Entry with multiple documents -->
		<a class="archive column" href="/studentlog.html">
			<h4 style="margin: 0px">Student Log</h4>
		</a>
	</div>
	<hr>	
	<div class="row">
		<h2>Unparsed</h2>
	</div>
	<div class="archive-row row">
		{% assign unparsed = site.old_log | where: "domain", "Unparsed" | reverse %}
		{% for entry in unparsed %}
		<a class="archive column" href="{{ entry.url }}"><h3>{{ entry.title }}</h3></a>
		{% endfor %}
	</div>
</div>
