---
layout: default
title: Home
---
<div style="font-family: Montserrat, sans-serif">
	<h2>Latest Posts</h2>
	<hr>
	{% for post in site.posts limit: 10 %}
		<span style="float: left; color: gray; font-size: 10">{{ post.date | date: "%m/%d/%Y" }}</span>
		<div style="display: block; padding: 0px 0px 0px 90px;">
			<a href="{{ post.url }}">{{ post.title }}</a>
		</div>
	{% endfor %}
	<hr>
	<h2>Latest Guides</h2>
	<hr>
	{% assign guides = site.tech_guides | reverse %}
	{% for guide in guides limit: 10 %}
		<span style="float: left; color: gray; font-size: 10">{{ guide.date | date: "%m/%d/%Y" }}</span>
		<div style="display: block; padding: 0px 0px 0px 90px;">
			<a href="{{ guide.url }}">{{ guide.title }}</a>
		</div>
	{% endfor %}	
</div>

