<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="device-width, initial-scale=1">
		<title>{{ page.title }}</title>
		<link href="/css/styles.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
		<script>
			MathJax = {
			  tex: {
			    inlineMath: [['$', '$'], ['\\(', '\\)']]
			  },
			  svg: {
			    fontCache: 'global'
			  }
			};
		</script>
		<script type="text/javascript" id="MathJax-script" async
		  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
		</script>
		<script defer src="https://cloud.umami.is/script.js" data-website-id="b023cc71-6828-464d-81a8-b19dfbff2f0d"></script>
	</head>
	<body>
		<script>
			const darkmode = new Darkmode();
			
			function scrollToTop() {
				document.body.scrollTop = 0;
				document.documentElement.scrollTop = 0;
			}

			function darkMode(darkmode, toggleEnabled) {
				if (toggleEnabled == true) {
					darkmode.toggle();
				}

				let dark = document.getElementById("darkmode");
				let light = document.getElementById("lightmode");
				if (darkmode.isActivated()) {
					dark.disabled = true;
					light.disabled = false;
				}
				else {
					dark.disabled = false;
					light.disabled = true;
				}
			}

			window.addEventListener("load", function() { 
				darkMode(darkmode, false); 
			});
		</script>
		<div class="nav">
			<div style="align-self: center; justify-self: end;">
				<a class="home-link" href="/index.html" style="text-decoration: none;">
				<div class="index">
					<h2 style="margin: 0px; padding-right: 5px; color: white; float: right;">Sean</h2>
					<h2 style="margin: 0px; padding-right: 5px; color: white">David</h2>
					<h2 style="margin: 0px; padding-right: 5px; color: white; float: right;">Reed</h2>
				</div>
				</a>
			</div>
			<div style="align-self: center; height: 120px">
				<div class="page-link"><a href="/about.html">About</a></div>
				<div class="page-link"><a href="/blog.html">Blog</a></div>
				<div class="page-link"><a href="/guides.html">Guides</a></div>
				<div class="page-link"><a href="/projects.html">Projects</a></div>
				<div>
					<input id="lightmode" class="darkmode-input" type="image" alt="lightmode" src="/images/light-mode.png" onclick="darkMode(darkmode, true);">
					<input id="darkmode" class="darkmode-input" type="image" alt="darkmode" src="/images/Crescent-Moon-PNG-Picture.png" onclick="darkMode(darkmode, true);">
				</div>
			</div>
		</div>
		<div class="main">
			{{ content }}
		</div>
		<footer style="align-items: center;">
			<div class="row">
				<a target="_blank" href="https://linkedin.com/in/seandreed"><img src="/images/linkedin.png" style="height: auto; width: 30px;"></a>
				<a target="_blank" href="https://github.com/seandavidreed"><img src="/images/github-mark-white.png" style="height: auto; width: 30px;"></a>
			</div>
			<div class="row">
				<a href="/archive.html">Archive</a>
			</div>
			<div class="row" style="justify-content: space-between; margin-bottom: 35px">
				<a href="/bookshelf.html">Bookshelf</a>
				<input id="to-top" type="image" src="/images/scroll-up-icon.png" style="height: auto; width: 30px; filter: invert(1); padding: 0px 15px 4px" onclick="scrollToTop();">
			</div>
		</footer>
	</body>
</html>
