<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="device-width, initial-scale=1">
		<title>{{ page.title }}</title>
		<link href="/css/styles.css" rel="stylesheet">
		<script>
			MathJax = {
				tex: {
					inlineMath: [['$', '$'], ['\\(', '\\)']]
				}
			};
		</script>
		<script id="MathJax-script" async
			src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
		</script>
		<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
		<script>
  			function addDarkmodeWidget() {
				const options = {
					time: "0.2s"
				}
			    	new Darkmode(options).showWidget();
  			}
  			window.addEventListener('load', addDarkmodeWidget);
		</script>
	</head>
	<body>
		<nav>
				<a href="/index.html">Home</a>
				<a href="/about.html">About</a>
				<a href="/blog.html">Blog</a>
				<a href="https://github.com/seandavidreed">GitHub</a>
				<a href="/archive.html">Archive</a>
		</nav>
		<div class="main">
			{{ content }}
		</div>
	</body>
</html>
