<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="device-width, initial-scale=1">
		<title>{{ page.title }}</title>
		<link href="/css/styles.css" rel="stylesheet">
		<script>
			MathJax = {
				tex: {
					inlineMath: [['$', '$'], ['\\(', '\\)']]
				}
			};
		</script>
		<script id="MathJax-script" async
			src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
		</script>
		<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
		<script>
  			function addDarkmodeWidget() {
			    new Darkmode().showWidget();
  			}
  			window.addEventListener('load', addDarkmodeWidget);
		</script>
		<script>
			function mathJaxDarkMode(body) {
				console.log(this);
				const mathJaxElems = document.getElementsByClassName("MathJax");
				var color = "";
				if (body.classList.contains("darkmode--activated")) {
					color = "white";
					console.log(color);
				}
				else {
					color = "black";
					console.log(color);
				}
				
				for (let i = 0; i < mathJaxElems.length; i++) {
					mathJaxElems[i].style.color = color;

				}	
			}
		</script>	

	</head>
	<body id="1" onclick="mathJaxDarkMode(this)">
		<nav>
				<a href="/index.html">Home</a>
				<a href="/about.html">About</a>
				<a href="/blog.html">Blog</a>
				<a href="https://github.com/seandavidreed">GitHub</a>
				<a href="/archive.html">Archive</a>
		</nav>
		<div class="main">
			{{ content }}
		</div>
	</body>
</html>
